<StackLayout id="login-screen" hideActionBar>

    <Label class="title" text="Choose a chatroom to join."></Label>

    <TextField id="user-field"
        required
        #element #elementModel="ngModel"
        hint="Your name"
        [(ngModel)]="userName">
    </TextField>
    <TextField id="room-field"
        hint="Chatroom name"
        [(ngModel)]="roomName">
    </TextField>

    <AbsoluteLayout>
        <Button id="btn-join"
            [isEnabled]="elementModel.valid"
            (tap)="navigateToChatroom()"
            text="Join">
        </Button>
        <Button id="btn-exit"
            text="Exit">
        </Button>
    </AbsoluteLayout>

    <router-outlet></router-outlet>

</StackLayout>
