.chat-box {
  background-color: #FCFCFE;
}

Image.profile-image {
  height: 70;
  width: 70;
  border-radius: 32;
}

Image.cover-image {
  height: 95;
}

StackLayout.profile-image-container {
  border-color: #FFFFFF;
  border-width: 2;
  border-radius: 38;
}

StackLayout.profile-container {
  vertical-align: middle;
  text-align: middle;
  margin-left: 10;
}

StackLayout.bubble-container {
  padding: 10;
}

StackLayout.bubble-from-me,
StackLayout.bubble-from-other{
  border-radius: 10;
  padding: 10;
  font-size: 14;
}

StackLayout.bubble-from-me {
  background-color: #C8DFFF;
  margin-left: 40;
}

StackLayout.bubble-from-other {
  background-color: #EAE9F1;
  margin-right: 40;
}

GridLayout.bubble-container {
  padding: 10;
}

GridLayout.message-box {
  padding: 10;
}

Label.name {
  border-color: #000000;
  vertical-align: middle;
  margin-left: 5;
  font-size: 22;
  color: #788599;
}

Label.message-date {
  font-size: 11;
  font-style: italic;
  margin-left: 10;
  text-align: left;
}

Label.send-button {
  vertical-align: middle;
  margin-left: 5;
}

TextView.message-content {
  width: 100%;
  background-color: transparent;
}

TextView.write-message-field {
  background-color: #FCFCFE;
}
